:root {
    /* Primary */
    --VeryDarkBlue: hsl(233, 47%, 7%);
    /*main background*/
    --DarkDesaturatedBlue: rgb(27, 25, 56);
    --SoftViolet: hsl(277, 64%, 61%);
    /*accent*/

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    /*main heading, stats*/
    --SlightlyTransparentWhiteParagraph: hsla(0, 0%, 100%, 0.75);
    /*main paragraph*/
    --SlightlyTransparentWhiteHeading: hsla(0, 0%, 100%, 0.6);
    /*stat heading*/
}

* {
    box-sizing: border-box;
}

body {
    background: var(--VeryDarkBlue);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.heading {
    color: var(--White);
    font-family: 'Inter';
    font-weight: 700;
}

.heading--accent {
    color: var(--SoftViolet);
}

.paragraph {
    color: var(--SlightlyTransparentWhiteParagraph);
    font-family: 'Inter';
    font-weight: 400;
    line-height: 25px;
}

.stat {
    color: var(--SlightlyTransparentWhiteHeading);
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.card {
    background: var(--DarkDesaturatedBlue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    border-radius: 10px;
}

.card__body {
    padding: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.card__heading {
    font-size: 30px;
}

.card__main {
    margin-top: 40px;
}

.card__stat .heading {
    font-size: 25px;
}

.card__stats {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
}

.overlay {
    height: 525px;
    width: 630px;
    position: relative;
}

.overlay::after {
    content: '';
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: absolute;
    background: var(--DarkDesaturatedBlue);
    opacity: 0.5;
}

.overlay__image {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
}

@media (max-width: 375px) {

    .card {
        display: flex;
        flex-direction: column-reverse;
        height: 900px
    }

    .card__main {
        margin-top: 20px;
    }

    .card__body { 
        width: 300px;
        margin-right: 0px;
        text-align: center;
    }

    .card__stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-top: 40px;
    }

    .card__heading {
        font-size: 20px;
    }
    
    .paragraph {
        line-height: 15px;
    }

    .overlay {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        position: relative;
    }

    .overlay::after {
        content: '';
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        position: absolute;
    }

    .overlay__image {
        border-radius: 10px 10px 0px 0px;
    }

}